*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:#0f172a;
    color:white;
    scroll-behavior:smooth;
}

/* Navbar */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111827;
    position:sticky;
    top:0;
}

nav h2{
    color:#38bdf8;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav ul li a:hover{
    color:#38bdf8;
}

/* Hero Section */
.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.profile-img{
    width:180px;
    height:180px;
    border-radius:50%;
    border:5px solid #38bdf8;
    margin-bottom:20px;
}

.hero h1{
    font-size:55px;
    margin-bottom:10px;
}

.hero h3{
    color:#38bdf8;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    line-height:1.8;
    margin-bottom:20px;
}

/* Buttons */
.btn{
    display:inline-block;
    padding:12px 25px;
    margin:10px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:8px;
    transition:0.3s;
}

.btn:hover{
    transform:translateY(-3px);
}

/* Sections */
section{
    padding:80px 10%;
}

section h2{
    text-align:center;
    margin-bottom:30px;
    color:#38bdf8;
}

/* Cards */
.card{
    background:#1e293b;
    padding:20px;
    margin:15px;
    border-radius:12px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

/* Contact */
#contact{
    text-align:center;
}

/* Mobile Responsive */
@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    nav ul{
        margin-top:10px;
    }

    .hero h1{
        font-size:35px;
    }

    .profile-img{
        width:140px;
        height:140px;
    }
}